@model TicketingSystem.ViewModels.TicketIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Model.PurchaseDateLabel
        </th>
        <th>
            @Model.FirstNameLabel
        </th>
        <th>
            @Model.LastNameLabel
        </th>
        <th>
            @Model.EmailAddressLabel
        </th>
        <th>
            @Model.TicketTypeDescriptionLabel
        </th>
        <th>
            @Model.SeatPositionLabel
        </th>
        <th>
            @Model.TicketPriceLabel
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TicketId })
            </td>
        </tr>
    }

</table>
